<div>
    <span>*</span>
</div>


<div>
    <%= f.label :email,"メールアドレス" %>
    <%= f.email_field :email, size:32, required: true %>
</div>

<div>
    <%= f.label :family_name,"氏名" %>
    <%= f.text_field :family_name, required: true %>
    <%= f.text_field :given_name, required: true %>
</div>

<div>
    <%= f.label :family_name_kana,"フリガナ" %>
    <%= f.text_field :family_name_kana,required: true %>
    <%= f.text_field :given_name_kana, required: true %>

</div>
